$main-border-color: rgb(255, 217, 0);
$main-name-border-color: $main-border-color;

$size-btn-border-color: $main-border-color;
$size-btn-color: rgb(180, 180, 180);
$size-btn-hover-color: rgb(208, 255, 55);
$size-btn-hover-font-color: rgb(107, 107, 107);

$up-down-btn-color: rgb(255, 217, 0);
$i-font-color: rgb(255, 255, 255);

$add-to-bag-color: rgb(233, 85, 27);
$add-to-bag-font-color: rgb(255, 255, 255);
@mixin bothCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin wrapper {
  @media only screen and (max-width: 426px) {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    width: 100%;
    height: 100%;
  }
}
@mixin wrapMainContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@mixin shortMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: 426px) {
    i {
      margin-top: 0;
      font-size: 1rem;
    }
  }
}

@mixin bigMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin social {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 426px) {
    //border: 1px solid red;
    //height: ;
    i {
      margin-top: 0.1rem;
    }
  }
}

@mixin image {
  img {
    width: 90%;
    transform: rotate(50deg);
  }
}

@mixin bacgroundColors {
  .mainPic
  /*.mainContent*/ {
    background: rgb(255, 255, 255);
  }
  .mainContent {
    background: rgb(255, 255, 255);
  }

  #item1 {
    background: rgb(247, 252, 171);
  }
  #item2 {
    background: rgb(171, 255, 182);
  }
  #item3 {
    background: rgb(171, 253, 246);
  }
  #item4 {
    background: rgb(220, 171, 252);
  }
  .numbers {
    background: rgb(235, 231, 231);
  }
  .pop {
    //background: rgb(82, 81, 81);
    background: rgb(211, 210, 210);
  }
}
