* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(228, 228, 228);
}

.sidebar {
  float: right;
  position: absolute;
  z-index: 101;
  width: 10%;
  height: 100%;
  top: 0;
  right: 0;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  i {
    font-size: 1.5rem;
    color: grey;
  }
}

.shoppingCart {
  position: absolute;
  z-index: 1000;
  right: 10%;
  top: 0;
  width: 90%;
  height: 100%;
  transition: 0.5s;
  overflow: hidden;
  transform: translateY(-100%);
  background: rgb(255, 255, 255);
}
.cartToggle {
  transform: translateY(0%);
}

#bag {
  display: flex;
  flex-direction: column;
  align-items: center;
  //border: 1px solid red;
}
#cls {
  opacity: 0;
  transition: 0.5s;
}
#open {
  transition: 0.5s;
}
#clear:hover {
  color: red;
}

.cartName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(238, 238, 255);
  padding: 0 5% 0 5%;
  height: 10%;
  p {
    color: blue;
    cursor: pointer;
    transition: 0.4s;
  }
  h3 {
    color: rgb(92, 92, 92);
  }
}

.checOut {
  //background: rgb(58, 74, 219);
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    width: 95%;
    height: 80%;
    background: rgb(32, 196, 81);
    color: white;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
  }
  button:active {
    background: rgb(224, 99, 67);
  }
}

#shoppingItems {
  position: relative;
  overflow-y: scroll;
  width: 100%;
  height: 80%;
  background: rgb(255, 253, 253);
}
#newEl {
  width: 100%;
  height: 6rem;
  display: flex;
  //padding-left: 2%;
  //grid-template-columns: 5% 95%;
  //grid-template-rows: 100%;
}
.cross {
  width: 10%;
  // border: 1px solid red;
  position: relative;
  font-size: 1.5rem;
  color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(233, 233, 233);
  border-right: 1px solid rgb(233, 233, 233);
  p {
    margin-left: 5%;
    cursor: pointer;
    // border: 1px solid rgb(201, 201, 201);
    padding: 5%;
    border-radius: 0.2rem;
  }
}

.below {
  width: 90%;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 100%;
  background: white;

  //border: 1px solid red;
  border-bottom: 1px solid rgb(233, 233, 233);
  #p1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 80%;
      height: auto;
      //border: 1px solid rgb(0, 255, 0);
      //transform: rotate(10deg);
    }
  }
  h4 {
    color: rgb(184, 184, 184);
  }
  #p2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #v1,
  #v2,
  #inc {
    //border: 1px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #v1 {
    width: 100%;
    justify-content: space-between;
    p {
      width: 2rem;
      text-align: center;
      border: 1px solid rgb(112, 112, 248);
      border-radius: 0.2rem;
      padding: 2%;
      margin-right: 5%;
    }
  }
  #v2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    p {
      font-size: 1.2rem;
    }
  }
  #inc {
    width: 50%;
    div {
      display: flex;
      align-items: center;
      border: 2px solid rgb(204, 204, 204);
      border-radius: 0.5rem;
    }
    button {
      width: 2rem;
      height: 2rem;
      background: white;
      color: blue;
      outline: none;
      border: none;
      border-radius: 0.3rem;
      cursor: pointer;
    }
    button:active {
      background: rgb(190, 190, 190);
    }
  }
}
#newVl {
  display: none;
}
